<div class="row">
	<div class="span4">
 <font color='black'>.</font></div>	<div class="span8">



<div class="well" style="background-color:#FFFFFF">


<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Event</legend>

		<%= f.input :title %>
		<%= f.input :start_time, :ampm => true, :minute_step => 15  %>
		<%= f.input :end_time, :ampm => true, :minute_step => 15  %>
		<%= f.input :description, :input_html => {:rows => 5} %>
		<%= f.input :status %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

</div></div></div>